body
{
    background: #547980;
}

#home
{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #D7D7DB;
}